[Unit]
Description=filestat_exporter service

[Service]
ExecStartPre=-/usr/bin/killall filestat_exporter
ExecStart=/usr/local/bin/filestat_exporter -config.file /etc/filestat_exporter/filestat_exporter.yaml -log.level=debug
ExecStop=-/usr/bin/killall filestat_exporter
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
