[Unit]
Description=prometheus service

[Service]
ExecStartPre=-/usr/bin/killall prometheus
ExecStart=/usr/local/bin/prometheus  --log.level=debug --config.file=/etc/prometheus/prometheus.yaml
ExecStop=-/usr/bin/killall prometheus
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
